cicd/*
/texlive/2023/texmf-arxiv/tex/latex/contrib/agu/
/texlive/2023/texmf-arxiv/tex/latex/contrib/eptcs/
/texlive/2023/texmf-arxiv/tex/latex/contrib/edpsciences/
/texlive/2023/texmf-arxiv/tex/latex/contrib/jhep/
/texlive/2023/texmf-local/springer/
/texlive/2023/texmf-local/diagrams.sty
/texlive/2023/texmf-arxiv/tex/latex/misc/slashbox.sty
/texlive/2023/texmf-arxiv/tex/latex/misc/widetext.sty
/texlive/2023/texmf-arxiv/tex/latex/misc/appolb.cls
/texlive/2023/texmf-arxiv/tex/latex/misc/aptpub.cls
/texlive/2023/texmf-arxiv/tex/latex/misc/mn2e.cls
/texlive/2023/texmf-arxiv/tex/latex/misc/slashbox.sty
/texlive/2023/texmf-arxiv/tex/latex/misc/widetext.sty
/texlive/2023/texmf-local/tex/generic/misc/diagrams.sty
/texlive/2023/texmf-arxiv/tex/latex/contrib/sif/epl2/epl2.cls
/texlive/2023/texmf-arxiv/tex/latex/contrib/sif/epl2.zip
/texlive/2023/texmf-arxiv/tex/latex/contrib/tci/tcilatex.tex
/texlive/2023/texmf-arxiv/tex/latex/latex209/obsolete/contrib/misc/picins.sty
