cicd/*
/texlive/2023/texmf-arxiv/tex/latex/contrib/agu/
/texlive/2023/texmf-arxiv/tex/latex/contrib/eptcs/
/texlive/2023/texmf-arxiv/tex/latex/contrib/edpsciences/
/texlive/2023/texmf-arxiv/tex/latex/contrib/jhep/
/texlive/2023/texmf-arxiv/tex/latex/emulateapj/
/texlive/2023/texmf-local/springer/
/texlive/2023/texmf-local/diagrams.sty
